.container {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 1rem;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  margin: 1.3rem 2rem 0;
  border-radius: 0.428rem;
  background: #fff;
  position: fixed;
  width: calc(100% - 4rem - 260px);
  z-index: 12;
  right: 0;
  left: auto;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: inherit;
  box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
  z-index: 1031;
  display: table-cell;
  height: 100%;
  overflow: hidden;
  width: 260px;
  background: #fff;
}

.main {
  padding: 7.75rem 2rem 0;
  margin-left: 260px;
  position: relative;
  transition: all 0.3s ease;
  backface-visibility: hidden;
  min-height: calc(100% - 3.35rem);
}

.secsion {
  border: none;
  margin-bottom: 2rem;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  border-radius: 0.428rem;
  background: #fff;
  width: 100%;
}
